html {
  font-family: sans-serif;
}

body {
  scrollbar-width: thin;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 12px;
  margin: 0;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}
